{%extends 'base.html'%}
{% load humanize %}
{% block content %} 
{{ block.super}}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% for post in posts %}
      <div class="card">
        <p class="card-title"><strong>{{ post.profile.user.username }}</strong></p>
        <img
          class="card-img-top"
          src="/media/{{post.image}}"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-title"><strong>{{ post.total_likes }} likes</strong></p>
          <p class="card-title">
            <strong>{{ post.profile.user.username}}</strong> {{post.caption}}
          </p>
          {% if post.get_all_comments %}
          <a
            ><p class="card-text">
              <small class="text-muted"
                >View all {{ post.get_all_comments|length }} comments</small
              >
            </p></a>
          {% endif %}
          
          {% for comment in post.comments.all|slice:":2" %}
          <p class="card-title">
            <strong>{{ comment.profile.user.username }} </strong> {{comment.comment}}
          </p>
          {% endfor %}
          <p class="card-text">
            <small class="text-muted">{{post.created|naturaltime}}</small>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <h5><i class="far fa-user-circle"></i> {{user.username}}</h5>
      {% for follow in follows %}
      <ul class="list-group">
        <li
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-center
          "
        >
          {{ follow }}
          <span class="badge badge-primary badge-pill">follow</span>
        </li>
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
