{%  extends 'base.html'%}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %} 
{{ block.super}}
<div class="container">
  <div class="row">
    <div class="col-sm-8">
    <button class="btn btn-sm btn-outline-primary ml-4 mb-3" data-toggle="modal" data-target="#imageUpload">
        Upload Image
    </button>
    <div class="modal fade" id="imageUpload" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Image Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-sm btn-success">Upload</button>
                        <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
                            Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
      {% for post in posts %}
      <div class="card">
        <p class="card-title"><strong>{{ post.profile.user.username }}</strong></p>
        <a href="/post/{{post.id}}"><img
          class="card-img-top"
          src="/media/{{post.image}}"
          alt="Card image cap"
        />
        </a>
        <div class="card-body">
          <div class="likes">
            <span class="card-title"><strong>{{ post.total_likes }} like{{post.total_likes|pluralize}}</strong></span>
            {% if post in user.likes.all %}
              <a href="/like/{{post.id}}"><span class="like-icon" style="color: red;"><i class="far fa-heart"></i></span></a>
            {% else %}
              <a href="/like/{{post.id}}"><span class="like-icon"><i class="far fa-heart"></i></span></a>
            {% endif %}
          </div>
          <p class="card-title">
            <strong>{{ post.profile.user.username}}</strong> {{post.caption}}
          </p>
          {% if post.get_all_comments %}
          <a
            ><p class="card-text">
              <small class="text-muted"
                >View all {{ post.get_all_comments|length }} comment{{post.get_all_comments|pluralize}}</small
              >
            </p></a>
          {% endif %}
          
          {% for comment in post.comments.all|slice:":2" %}
          <p class="card-title">
            <strong>{{ comment.profile.user.username }} </strong> {{comment.comment}}
          </p>
          {% endfor %}
          <p class="card-text">
            <small class="text-muted">{{post.created|naturaltime}}</small>
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-4">
      <h5><i class="far fa-user-circle"></i> {{user.username}}</h5>
      {% for follow in follows %}
      <ul class="list-group">
        <li
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-center
          "
        >
          {{ follow.user.username }}
          <a href="/follow/{{follow.id}}" style="color: white !important;"><span class="badge badge-primary badge-pill" style="color: white !important; cursor: pointer;">follow</span></a>
        </li>
      </ul>
      {% empty %}
        <p>Great! you have followed everyone.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
